
<strong>EMIcalculator </strong> helps you quickly setup an EMI Calculator widget on your website. The widget is based on jQuery and Bootstrap.


<h4>Features</h4>
<ul>
<li>Based on jQuery and Bootstrap : The widget's markup is based on Bootstrap.</li>
<li>Easy Customizations : Its super easy to set it up and customise according to your needs.The widget comes with many options for easy customizations and configurations.</li>
<li>Chart Representation : Using Chart.js the widget make the data more intutive and presentable  using the doughnut chart</li>
<li>Tabular Representation : The widget also shows the data in a tabular format.</li>
</ul>
<img src="http://prolancer.xyz/emiculator/scshot.jpg" />
​

​

