/*!

=========================================================
* EMIculator - The EMI Calculator Widget v1.0
=========================================================

* Demo Page: http://prolancer.xyz/emiculator
* Copyright 2019 creativeAb (https://themeforest.net/user/creativeab)
 
* Coded by creativeAb (https://themeforest.net/user/creativeab)

=========================================================

*  Instantly show EMI calculator on your website.

*/

 
 
.emi-table-container{
	margin-top:4rem;
}

.breakdown-table-container{
	max-height: 480px;
	overflow-y: scroll;
}


/** scrollbar css **/
.breakdown-table-container::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
.breakdown-table-container::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.breakdown-table-container::-webkit-scrollbar-thumb {
  background: #747474;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.breakdown-table-container::-webkit-scrollbar-thumb:hover {
  background: ;
}
.breakdown-table-container::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.breakdown-table-container::-webkit-scrollbar-track {
  background: #cacaca;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.breakdown-table-container::-webkit-scrollbar-track:hover {
  background: #adb5bd;
}
.breakdown-table-container::-webkit-scrollbar-track:active {
  background: #c1c1c1;
}
.breakdown-table-container::-webkit-scrollbar-corner {
  background: transparent;
}
